.App {
  width: 60vw;
  margin: auto;
  text-align: center;
}
.App__ButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background: black; */
  margin: 30px 0px;
}

